*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.text-main {
	font-family: 'Josefin Sans', sans-serif;
}

.text-second {
	font-family: 'Noto Sans JP', sans-serif;
}


.primary-col {
	color: #267ba0;
}

.secondary-col {
	color: #3A3A3A;
}

.btn-rounded {
	border-radius: 5px;
}



body {
	background-color: #FBFBFB;
}

.wrap-login {
	background-color: #FFFFFF;
	min-height: 100vh;
	overflow: auto;
}


nav.main-nav {
	min-height: 60px;
	background-color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 80px;
}

nav .menu {
	display: none;
}

nav .brand h1 {
	color: #434343;
	font-size: 26px;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 0;
}

nav .brand a {
	text-decoration: none;
}

nav .links {
	width: 50%;
	margin-left: auto;
}

nav .links ul {
	display: flex;
	list-style-type: none;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 0;
}

nav .links ul li .search {
	display: none;
}

nav .links ul li a {
	text-decoration: none;
	display: block;
	color: #696868;
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 0.4px;
}

nav .links ul li a:hover {
	color: #2c2c2c;
}



nav .icon-for-user a {
	display: inline-block;
	text-decoration: none;
	padding-right: 20px;
}

nav .icon-for-user a:nth-child(2) {
	padding-right: 0;
}

.text-show-all a{
	display: inline-block;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.5);
	font-size: 15px;
}

/* FOOTER */

footer {
	min-height: 381px;
	background-color: #F5F5F5;
	padding: 90px 0 20px 0;
}


footer .footer-brand h1{
	font-size: 36px;
	font-weight: 600;
	letter-spacing: .5px;
	color: #3A3A3A;
}


footer .footer-item-content h3 {
	color: #3A3A3A;
	font-size: 28px;
	font-weight: 600;
	text-align: left;
	margin-bottom: 20px;
}

footer .footer-item-content > p a{
	font-family: 'Noto Sans JP', sans-serif;
	color: #696868;
	font-size: 16px;
	text-align: left;
}

footer .footer-item-content a.ig-icon {
	display: block;
	width: 23px;
	margin-left: 27px;
}

.copyright-content p {
	letter-spacing: 1px;
	color: #696868;
}




.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
  }

  @media (min-width: 768px) {
	.bd-placeholder-img-lg {
	  font-size: 3.5rem;
	}
  }

  .b-example-divider {
	height: 3rem;
	background-color: rgba(0, 0, 0, .1);
	border: solid rgba(0, 0, 0, .15);
	border-width: 1px 0;
	box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
	flex-shrink: 0;
	width: 1.5rem;
	height: 100vh;
  }

  .bi {
	vertical-align: -.125em;
	fill: currentColor;
  }

  .nav-scroller {
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;
  }

  .nav-scroller .nav {
	display: flex;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
  }